@import 'https://fonts.googleapis.com/css?family=Share+Tech+Mono';
@font-face {
  font-family: 'Digital';
  src: url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot');
  src: url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot?#iefix')
      format('embedded-opentype'),
    url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff2')
      format('woff2'),
    url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff')
      format('woff'),
    url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.ttf')
      format('truetype'),
    url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.svg#Digital-7')
      format('svg');
}


#calculator{
  background-color: black;
  color: white;
  width: 600px;
  height: 600px;

  display: grid;
  grid-template-columns: repeat(1fr, 4);
  grid-template-rows: repeat(1fr, 7);
  grid-gap: 2px 2px;
  grid-template-areas: 
  "display-operation display-operation display-operation display-operation"
  "display display display display"
  "clear clear divide multiplyo"
  "seven eight nine substract"
  "four five six addo"
  "one two three equal"
  "zero zero point equal";

  border: 5px solid black;
  border-radius: 5px;

}

button
{
  display: block;
  font-family: "Share Tech Mono", monospace!important;
  font-size: 1.5rem!important;
}

button:hover 
{
  color:black!important;
  border: 1px solid white!important;
}

#display-operation
{
  grid-area: display-operation;
  text-align: right;

  font-family: digital;
  font-size: 2rem;
}

#display
{
  grid-area: display;
  text-align: right;

  font-family: digital;
  font-size: 2rem;
}

#clear
{
  grid-area: clear;
}

#divide
{
  grid-area: divide;
}

#multiply
{
  grid-area: multiplyo;
}

#add
{
  grid-area: addo;
}

#substract
{
  grid-area: substract;
}

#one
{
  grid-area: one;
}

#two
{
  grid-area: two;
}

#three
{
  grid-area: three;
}

#four
{
  grid-area: four;
}

#five
{
  grid-area: five;
}

#six
{
  grid-area: six;
}

#seven
{
  grid-area: seven;
}

#eight
{
  grid-area: eight;
}

#nine
{
  grid-area: nine;
}

#zero
{
  grid-area: zero;
}

#equals
{
  grid-area: equal;
}

#decimal
{
  grid-area: point;
}


.App {
  text-align: center;

  width: 100vw;
  height: 100vh;

  background-color: silver;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
